body {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}
.header {
    background-color: #fdfbf6;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0 3px 5px #ff2626;
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #fdfbf6;
}

.navbar {
    position: relative;
    background-color: #fdfbf6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.nav-container .navbar img {
    height: 70px;
    width: 180px; 
    margin: 0;
}

.nav-container .navbar .nav-menu {
    list-style-type: none;
    position: relative;
    display: flex;
    margin-right: 80px;
}

.nav-container .navbar .nav-menu li {
    display: block;
    position: relative;
    padding: 10px;
    transition: all 0.4s ease;
}

.nav-container .navbar .nav-menu li:hover {
    background-color: rgb(245, 195, 195);
    border-radius: 10px;
    box-shadow: 3px;
}

.nav-container .navbar .nav-menu a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    transition: all 0.4s ease;
}

.dropdown-menu, .sub-menu {
    position: absolute;
    top: 100%;
    background-color: #fdfbf6;
    min-width: 180px;
    border-radius: 5px;
    padding: 5px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.dropdown:hover > .dropdown-menu,
.sub-dropdown:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
}

.sub-menu {
    top: 0;
    left: 100%;
}

.search-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    overflow: visible;
}

.search-wrapper {
    position: relative;
    width: 250px;
    display: flex;
}

.search-wrapper input {
    width: 100%;
    padding: 8px 30px 8px 30px;
    border-radius: 25px;
    font-size: 14px;
}

.search-wrapper input::placeholder {
    font-weight: bold;
}

.fa-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.header-icons {
    display: flex;
    gap: 10px;
}

.header-icons a {
    text-decoration: none;
    color: black;
}

.header-icons a i {
    font-size: 25px;
    transition: all 0.3s ease;
}

.header-icons a i:hover {
    transform: scale(1.2);
    color: grey;
}

.section-1{
    padding-top: 75px;
    height: 40vh;
}

.section-2{
    height: 175vh;
}

.title-box{
    display: block;
    height: 80px;
    max-width: 100%;
}

.title{
    margin: 10px;
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(255, 0, 0);
    text-shadow: 0 3px 3px black;
}

.title-box p{
    margin: 10px;
    color: rgb(0, 0, 0);
}

.header-products{
    display: flex;
    justify-content: space-between;
}

.header-side{
    display: flex;
    margin: 10px 20px;
}
.second-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.second-menu > li{
    position: relative;
    display: inline-block;
}

.second-menu a{
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    font-weight: bold;
    background-color: #fdfbf6;
    border: 2px solid;
    border-radius: 5px ;
    color: black;
    transition: all 0.3s ease;
}

.second-menu a:hover{
    background-color: rgb(245, 195, 195);
}

.second-dropdown{
    list-style-type: none;
    padding: 0;
    margin: 0; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fdfbf6;
    min-width: 150px;

    max-height: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 50;
}

.dropdown-title:hover .second-dropdown{
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
}

.sort{
    display: flex;
    align-items: center;
    gap: 15px;
}

.sort p{
    margin: 3px;
    font-weight: bold;
}

.sort a{
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(205, 202, 202);
    border-radius: 5px;
    background-color: #fdfbf6;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.sort a:hover{
    border: 2px solid red;
}

.filter{
    padding: 10px 15px;
    border: 2px solid rgb(205, 202, 202);
    border-radius: 5px;
    margin: 10px;
    transition: all 0.3s ease;
}

.filter:hover{
    border: 2px solid red;
}

.products-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    height: 50px;
    max-width: 800px;
    gap: 25px;
    z-index: 5;
}

.products-nav button{
    height: 40px;
    width: 100%;
    max-width: 150px;
    border: 2px solid rgb(205, 202, 202);
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition:  all 0.3s ease;
}

.products-nav button:hover{
    border: 2px solid red;
}

.products-nav button a{
    text-decoration: none;
    color: black;
}
.button-active{
    background-color: red;
}

.products-nav .button-active a{
    color: white;
}
.product-specifier{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    border-bottom: 2px solid rgb(165, 163, 163);
}

.box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 25px;
    margin: 0 10px;
}

.box-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    max-height: auto;
    transition: all 0.3s ease;
}

.box-wrapper:hover{
    box-shadow: 0 3px 3px red;
}

.box-wrapper img{
    height: 200px;
    object-fit: contain;
    width: 100%;
    max-width: auto;
    transition: all 0.3s ease;
}

.box-wrapper img:hover{
    transform: scale(1.1);
}

.box-wrapper h3{
    position: absolute;
    bottom: 180px;
    right: 10px ;
    margin: 10px;
    color: white;
    font-weight: normal;
    background-color: red;
    border: 2px solid red;
    border-radius: 8px;
    max-width: auto; 
}

.box-wrapper h4{
    margin: 10px;
}

.box-wrapper p{
    margin: 10px;
}

.box-wrapper h5{
    margin: 10px;
    font-size: 1.2rem;
}

.box-buttons{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    gap: 10px;
    margin: 10px;
}

.text-button{
    width: 200px;
    height: 35px;
    border: 2px solid red;
    border-radius: 5px;
    font-weight: bold;
    background-color: #ff2626;
    transition: all 0.3s ease;
}

.text-button:hover{
    transform: scale(1.1);
    background-color: #e36d6d;
}

.text-button a{
    color: white;
    text-decoration: none;
}

.icon-button{
    height: 35px;
    width: 35px;
    border: 2px solid rgb(192, 189, 189);
    color: red;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.icon-button:hover{
    border: 2px solid red;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 50px;
}

.pagination a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid rgb(185, 180, 180);
    border-radius: 5px;
    height: 25px;
    width: 100%;
    max-width: 70px;
    background-color: #f1ecec;
    text-decoration: none;
}

.pagination a:hover{
    background-color: #edcfcf;
    border: 2px solid red;
}       

.pagination .small-pagination{
    width: 30px;
}

.pagination .small-pagination-active{
    width: 30px;
    background-color: red;
    color: white;
}
footer {
    width: 100%;
    min-width: 100%;
    height: 150px;
    background-color: #fdfbf6;
    border-top: 3px solid #ff2626;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.footer-container {
    background-color: #fdfbf6;
    width: 100%;
    min-width: 100%;
}

footer img {
    height: 50px;
    width: 150px;
}

.icons-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    text-align: center;
}

.icons-footer a {
    display: block;
    text-decoration: none;
}

.icons-footer a i {
    width: 50px;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.icons-footer a i:hover {
    transform: scale(1.1);
}

.fa-facebook {
    color: blue;
}

.fa-instagram {
    color: purple;
}

.fa-github {
    color: black;
}

.fa-youtube {
    color: #ff2626;
}

.fa-square-x-twitter {
    color: black;
}

.fa-google-play {
    color: rgb(0, 255, 0);
}
