body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    margin: 0;
}
.main-container{
    height: 370px;
    width: 490px;
    border: 3px solid;
    border-radius: 10px;
    padding: 20px 20px;
}
.main-container h3{
    text-align: center;
}
.main-container label{
    display: block;
    margin: 0 0 5px;
}
.main-container input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
.main-container button{
    display: block;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin: 15px 5px 0px;
    background-color: red;
}
.main-container button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.main-container button:hover{
    background-color: rgb(255, 89, 89);
}
