body{
    font-family: Verdana;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.main-container{
    display: flex;
    justify-content: center;
    border: 2px solid;
    height: 350px;
    width: 400px;
    border-radius: 25px;
}
.main-container h3{
    text-align: center;
}
.main-container label{
    display: block;
    margin: 0 0 5px;
}
.main-container input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}
.main-container button{
    width: 100%;
    height: 40px;
    padding: 10px;
    font-weight: bold;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.main-container button:hover {
    background-color: rgb(229, 56, 56);
}
.main-container button a{
    text-align: center;
    color: black;
    text-decoration: none;
}
.main-container a{
    margin:10px;
    display: flex;
    justify-content: center;
    text-align: center;
}