body {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}
.header {
    background-color: #fdfbf6;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0 3px 5px #ff2626;
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #fdfbf6;
}

.navbar {
    position: relative;
    background-color: #fdfbf6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.nav-container .navbar img {
    height: 70px;
    width: 180px; 
    margin: 0;
}

.nav-container .navbar .nav-menu {
    list-style-type: none;
    position: relative;
    display: flex;
    margin-right: 80px;
}

.nav-container .navbar .nav-menu li {
    display: block;
    position: relative;
    padding: 10px;
    transition: all 0.4s ease;
}

.nav-container .navbar .nav-menu li:hover {
    background-color: rgb(245, 195, 195);
    border-radius: 10px;
    box-shadow: 3px;
}

.nav-container .navbar .nav-menu a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    transition: all 0.4s ease;
}

.dropdown-menu, .sub-menu {
    position: absolute;
    top: 100%;
    background-color: #fdfbf6;
    min-width: 180px;
    border-radius: 5px;
    padding: 5px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.dropdown:hover > .dropdown-menu,
.sub-dropdown:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
}

.sub-menu {
    top: 0;
    left: 100%;
}

.search-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    overflow: visible;
}

.search-wrapper {
    position: relative;
    width: 250px;
    display: flex;
}

.search-wrapper input {
    width: 100%;
    padding: 8px 30px 8px 30px;
    border-radius: 25px;
    font-size: 14px;
}

.search-wrapper input::placeholder {
    font-weight: bold;
}

.fa-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.header-icons {
    display: flex;
    gap: 10px;
}

.header-icons a {
    text-decoration: none;
    color: black;
}

.header-icons a i {
    font-size: 25px;
    transition: all 0.3s ease;
}

.header-icons a i:hover {
    transform: scale(1.2);
    color: grey;
}

.section-1{
    padding-top: 75px;
    height: 200vh;
}

.title-box{
    display: block;
    height: 120px;
    max-width: 100%;
    border: 2px solid;
    background-color: rgb(233, 28, 28);
}

.title{
    margin: 10px;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 3px 3px black;
}

.title-box p{
    margin: 10px;
    color: white;
}

.box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-wrapper{
    border: 2px solid red;
    border-radius: 8px;
    box-shadow: 0 5px 5px red;
    margin: 25px;
    height: 250px;
    width: 80%;
    display: flex;
}

.box-wrapper img{
    height: 250px;
    width: 100%;
    max-width: 300px;
    transition: all 0.3s ease;
}

.box-wrapper img:hover{
    transform: scale(1.1);
}

.box-content{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.box-wrapper h3{
    border-bottom: 2px solid rgb(193, 186, 186);
}

.box-wrapper2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    max-width: 700px;
    border: 2px solid red;
    border-radius: 5px;
    box-shadow: 0 5px 5px red;
    padding: 10px;
}

.box-wrapper2 img{
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 5px 5px red;
    animation: float 2s infinite ease;
    transition: all 0.3s ease;
}

.box-wrapper2 img:hover{
    box-shadow: 0 10px 10px red;
}

@keyframes float {
    
    0%, 100% {
        transform: translateY(0px);
    }

    50%{
        transform: translateY(5px);
    }
}

footer {
    height: 150px;
    background-color: #fdfbf6;
    border-top: 3px solid #ff2626;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.footer-container {
    background-color: #fdfbf6;
    width: 100%;
    border: 2px solid;
}

footer img {
    height: 50px;
    width: 150px;
}

.icons-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    text-align: center;
}

.icons-footer a {
    display: block;
    text-decoration: none;
}

.icons-footer a i {
    width: 50px;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.icons-footer a i:hover {
    transform: scale(1.1);
}

.fa-facebook {
    color: blue;
}

.fa-instagram {
    color: purple;
}

.fa-github {
    color: black;
}

.fa-youtube {
    color: #ff2626;
}

.fa-square-x-twitter {
    color: black;
}

.fa-google-play {
    color: rgb(0, 255, 0);
}