body {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}
.header {
    background-color: #fdfbf6;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0 3px 5px #ff2626;
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #fdfbf6;
}

.navbar {
    position: relative;
    background-color: #fdfbf6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.nav-container .navbar img {
    height: 70px;
    width: 180px; 
    margin: 0;
}

.nav-container .navbar .nav-menu {
    list-style-type: none;
    position: relative;
    display: flex;
    margin-right: 80px;
}

.nav-container .navbar .nav-menu li {
    display: block;
    position: relative;
    padding: 10px;
    transition: all 0.4s ease;
}

.nav-container .navbar .nav-menu li:hover {
    background-color: rgb(245, 195, 195);
    border-radius: 10px;
    box-shadow: 3px;
}

.nav-container .navbar .nav-menu a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    transition: all 0.4s ease;
}

.dropdown-menu, .sub-menu {
    position: absolute;
    top: 100%;
    background-color: #fdfbf6;
    min-width: 180px;
    border-radius: 5px;
    padding: 5px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.dropdown:hover > .dropdown-menu,
.sub-dropdown:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
}

.sub-menu {
    top: 0;
    left: 100%;
}

.search-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    overflow: visible;
}

.search-wrapper {
    position: relative;
    width: 250px;
    display: flex;
}

.search-wrapper input {
    width: 100%;
    padding: 8px 30px 8px 30px;
    border-radius: 25px;
    font-size: 14px;
}

.search-wrapper input::placeholder {
    font-weight: bold;
}

.fa-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.header-icons {
    display: flex;
    gap: 10px;
}

.header-icons a {
    text-decoration: none;
    color: black;
}

.header-icons a i {
    font-size: 25px;
    transition: all 0.3s ease;
}

.header-icons a i:hover {
    transform: scale(1.2);
    color: grey;
}

.section-1{
    padding-top: 75px;
    height: 100vh;
}

.section-2{
    height: 50vh;
}

.title-box{
    display: block;
    height: 120px;
    max-width: 100%;
    border: 2px solid;
    background-color: rgb(233, 28, 28);
}

.title{
    margin: 10px;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 3px 3px black;
}

.title-box p{
    margin: 10px;
    color: white;
}

.box-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    height: 450px;
    gap: 20px;
    max-width: 90%;
    margin: 25px auto;
    border: 2px solid red;
    border-radius: 5px;
    padding: 20px;
}

.box-wrapper img {
    width: 100%;
    height: 100px; 
    object-fit: contain;      
    border-radius: 10px;
    transition: all 0.3s ease; 
}

.box-wrapper img:hover{
    transform: scale(1.1);
}

.box-wrapper2{
    height: 250px;
    margin: 50px auto;
    max-width: 70%;
    border: 2px solid red;
    border-radius: 25px;
    background: linear-gradient(to right, red, rgb(95, 8, 8));
    box-shadow: 0 5px 5px red;
}

.box-wrapper2 p{
    margin: 10px;
    color: white;
}

.Btn-1{
    margin: 25px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 3px white;
    transition: all 0.3s ease;
}

.Btn-1:hover{
    transform: translateX(10px);
}

.Btn-1 a{
    color: red;
    text-decoration: none;
}

footer {
    height: 150px;
    background-color: #fdfbf6;
    border-top: 3px solid #ff2626;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.footer-container {
    background-color: #fdfbf6;
    width: 100%;
    border: 2px solid;
}

footer img {
    height: 50px;
    width: 150px;
}

.icons-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    text-align: center;
}

.icons-footer a {
    display: block;
    text-decoration: none;
}

.icons-footer a i {
    width: 50px;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.icons-footer a i:hover {
    transform: scale(1.1);
}

.fa-facebook {
    color: blue;
}

.fa-instagram {
    color: purple;
}

.fa-github {
    color: black;
}

.fa-youtube {
    color: #ff2626;
}

.fa-square-x-twitter {
    color: black;
}

.fa-google-play {
    color: rgb(0, 255, 0);
}